/* Paleta de colores */
:root {
	--blanco: #fff;
	--oscuro: #212121;
	--navbar: #031926;
	--head: #468189;
	--main: #f2f4f3;
	--footer: #3e000c;
	--gris: #757575;
	--grisClaro: #dfe9f3;
	--border: 1px solid rgba(0, 0, 0, 0.175);
	--fuente: "Montserrat", sans-serif;
}

/* Box Sizing */
html {
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: var(--fuente);
}

::-webkit-scrollbar {
	width: 5px;
	position: fixed;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	background-color: var(--navbar);
}

.bg-head {
	background-color: var(--head);
}

.bg-navbar {
	background-color: var(--navbar);
}

.bg-main {
	background-color: var(--main);
}

.bg-footer {
	background-color: var(--footer);
}

.mh {
	min-height: calc(100vh - 152px);
}

.input-group-text {
	cursor: default;
}
