/* Paleta de colores */
:root {
	--blanco: #fff;
	--oscuro: #212121;
	--navbar: #031926;
	--head: #468189;
	--main: #f2f4f3;
	--footer: #3e000c;
	--gris: #757575;
	--grisClaro: #dfe9f3;
	--border: 1px solid rgba(0, 0, 0, 0.175);
	--fuente: "Montserrat", sans-serif;
}

/* Box Sizing */
html {
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: var(--fuente);
}

::-webkit-scrollbar {
	width: 5px;
	position: fixed;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	background-color: var(--navbar);
}

.bg-head {
	background-color: var(--head);
}

.bg-navbar {
	background-color: var(--navbar);
}

.bg-main {
	background-color: var(--main);
}

.bg-footer {
	background-color: var(--footer);
}

.mh {
	min-height: calc(100vh - 150px);
}

.input-group-text {
	cursor: default;
}

.btn-toggle {
	--bs-btn-color: #fff;
	--bs-btn-bg: #810019;
	--bs-btn-border-color: #810019;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #6e0015;
	--bs-btn-hover-border-color: #6e0015;
	--bs-btn-focus-shadow-rgb: 90, 0, 17;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #5a0011;
	--bs-btn-active-border-color: #5a0011;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #98001d;
	--bs-btn-disabled-border-color: #98001d;
}
