/* Paleta de colores */
:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuente: 'Montserrat', sans-serif;
}

/* Box Sizing */
html {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: var(--fuente);
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}